<h2>Your Shopping List</h2>

<% if @message %>
 <li><%= @message %></li>
<% end %>

<li><a href='/create'>Add an Item</a></li>
<% if @message %>
 <li><%= @message %></li>
<% end %>


<table>
  <thead>
    <th>
      ID
    </th>
    <th>
      Item
    </th>
    <th>
      Quantity
    </th>
    <th>
      Change?
    </th>
    <th>
      Delete?
    </th>
  </thead>

<tbody>
  <% @items.each do |item| %>
  <tr>
    <td>
      <%= item.id %>
    </td>
    <td>
      <%= item.name %>
    </td>
    <td>
      <%= item.quantity %>
    </td>
    <td>
      <a href='/update/<%= item.id %>'>Change</a>
    </td>
    <td>
      <a href='/destroy/<%= item.id %>'>Delete</a>
    </td>
  </tr>
  <% end %>
  <form class="" action="/account/logout">
    <input type="submit" value="Logout">
  </form>
  </tbody>
</table>
