
<!--
<% if @message %>
 <li><%= @message %></li>
<% end %>


<% if @message %>
 <li><%= @message %></li>
<% end %> -->

<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <!-- <li role="presentation"><a href="/create">Add An Item</a></li> -->
    <li role="presentation"><a href="/account/logout">Logout</a></li>
  </ul>
<h2>Your Shopping List</h2>
<h3><% if @message %>
 <li><%= @message %></li>
<% end %></h3>
<!-- <li><a href='/create'>Add an Item</a></li> -->
<table class="table">
  <thead class="bg-white">
    <!-- <th>
      ID
    </th> -->
    <th>
      Item
    </th>
    <th>
      Quantity
    </th>
    <th>
      Change?
    </th>
    <th>
      Delete?
    </th>
  </thead>

<tbody>
  <% @items.each do |item| %>
  <tr class="warning">
    <!-- <td>
      <%= item.id %>
    </td> -->
    <td>
      <%= item.name %>
    </td>
    <td>
      <%= item.quantity %>
    </td>
    <td>
      <a href='/update/<%= item.id %>'><span class="glyphicon glyphicon-pencil"></a>
    </td>
    <td>
      <a href='/destroy/<%= item.id %>'><span class="glyphicon glyphicon-trash"></a>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<!-- <form class="" action="/account/logout">
  <input type="submit" value="Logout">
</form> -->
<!-- <form class="" action="/create">
  <input type="submit" value="Add an Item">
</form> -->
 <p><a class="btn btn-default btn-xl" href="/create" role="button">Add Item</a></p>
</div>
