
<!--
<% if @message %>
 <li><%= @message %></li>
<% end %>


<% if @message %>
 <li><%= @message %></li>
<% end %> -->

<div id="read_page" class="container">

  <!-- <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">Home</a></li> -->
    <!-- <li role="presentation"><a href="/create">Add An Item</a></li> -->
    <!-- <li role="presentation"><a href="/account/logout">Logout</a></li> -->
  </ul>

<div id="main_heading">
<h2>Your Shopping List</h2>
</div>


<h3><% if @message %>
 <li><%= @message %></li>
<% end %></h3>
<!-- <li><a href='/create'>Add an Item</a></li> -->
<div class="row">

<div class="col-lg-8">
<table class="table">
  <thead class="bg-white">
    <!-- <th>
      ID
    </th> -->
    <th>
      Item
    </th>
    <th>
      Quantity
    </th>
    <th>
      Change?
    </th>
    <th>
      Delete?
    </th>
  </thead>

<tbody id="table_body">
  <% @items.each do |item| %>
  <!-- <tr class="warning"> -->
      <tr>
    <!-- <td>
      <%= item.id %>
    </td> -->
    <td>
      <%= item.name %>
    </td>
    <td>
      <%= item.quantity %>
    </td>
    <td>
      <a href='/update/<%= item.id %>'><span class="glyphicon glyphicon-pencil"></a>
    </td>
    <td>
      <a href='/destroy/<%= item.id %>'><span class="glyphicon glyphicon-trash"></a>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

</div>
<div class="col-lg-4" id="right_buttons">
<a class="btn btn-xl" id="add_item_button" href="/create" role="button">Add Item</a>
</div>
<div class="col-lg-4" id="right_buttons">
<a class="btn btn-xl" id="logout_button" href="/account/logout" role="button">Sign Out</a>
</div>
</div>
<!-- <form class="" action="/account/logout">
  <input type="submit" value="Logout">
</form> -->
<!-- <form class="" action="/create">
  <input type="submit" value="Add an Item">
</form> -->
 <!-- <p><a class="btn btn-default btn-xl" href="/create" role="button">Add Item</a></p> -->
</div>
